body {
    
    color: #3E3B36;
    background-color: #FFFFFF;
    font-size:smaller;
}
div
{
	font-size: 16px;
	float: right;
}
h1, h2, h3 
{
	margin: 0;
	padding: 0;
	font-weight:  lighter;
	font-size:5px;
	color: #000000;
}
#NavView
{
	 font-size: 16px;
	 float: right;
}