/*
寻找模板中快乐 免费模板网   www.865171.cn
*/

body {
    margin: 30px 0px 0px 0px;
    padding: 0;
    font-family: Fantasy;
    font-size: 30px;
    color: #3E3B36;
    background-color: #FF0000;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: #000000;
}

h1 {
	font-size: 5em;
}

h2 {
    font-size: 5em;
    color: #000000;
}

h3 {
	font-size: 5em;
}

p, ul, {
    margin-top: 0;
    line-height: 200%;
}


a {
    text-decoration: none;
    color: #000000;
}

a:hover {
}



/* Logo */

#logo {
    width: 280px;
    height: 140px;
    margin: 0;
    padding: 0;
    color: #34312C;
    background-color: #FF0000
}

#logo h1, #logo p {
	margin: 0;
	padding: 0;
	letter-spacing: -2px;
	text-align: center;
	text-transform: lowercase;
	font-family: Georgia, "Times New Roman", Times, serif;
}

#logo h1 {
    margin: 0px 0px -20px 0px;
    padding: 20px 0px 0px 0px;
    font-size: 90px;
    color: #000000;
}

#logo h1 a {
    color: #000000;
}

#logo p {
	margin: 0px;
	padding: 0px;
	font-size: 40px;
} 

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #000000;
}



/* Menu */

#menu {
	width: 280px;
	margin: 20px auto 20px auto;
	padding: 0;
}

#menu ul {
	margin: 0;
	padding: 50px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	border-bottom: 1px dashed #000;
}

#menu a {
	display: block;
	width: 260px;
	height: 27px;
	margin: 4px 0px;
	padding: 8px 0px 0px 20px;
	text-decoration: none;
	text-transform: capitalize;
	font-family: Fantasy;
	font-size: 50px;
	font-weight: normal;
	color: #000;
}

#menu a:hover, #menu .current_page_item a {
	text-decoration: none;
}

#menu .current_page_item a {
}

/* Page */

#page {
	width: 1000px;
	margin: 0 auto;
}


/* Content */

#content {
    float: right;/*自行设计*/
    width: 520px;
    padding: 70px 30px 0px 60px;
    background-color: #FF0000;
}

.post {
    padding: 12px;
    margin-bottom: 40px;
    background-color: #FF0000;
}

.post .title {
    padding: 0px 0px 0px 0px;
    text-transform: lowercase;
    font-family: Georgia, "Times New Roman", Times, serif;
    letter-spacing: -.5px;
    color: #000000;
}

.post .title a {
	color: #000000;
	border: none;
}

.post .meta {
	margin-bottom: 30px;
	padding: 10px 0px 0px 0px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	font-weight: bold;
}

.post .meta .date {
	float: left;
}

.post .meta .posted {
	float: right;
}

.post .meta a {
}

.post .entry {
	padding: 0px 0px 20px 0px;
	border-bottom: 1px dotted #99938B;
	text-align: justify;
}

.links {
	padding-top: 20px;
	font-size: 30px;
	font-weight: bold;
}

/* Sidebar */

#sidebar {
    float: left;/*自行设计*/
    width: 280px;
    margin: 0px;
    padding: 0px 0px 80px 10px;
    color: #000000;
    background-color: #FF0000;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	margin: 0px 0px 0px 20px;
	padding-bottom: 30px;
}

#sidebar li li {
	line-height: 35px;
	border-bottom: 1px dashed #191918;
	border-left: none;
	
}

#sidebar ul li ul li {
	
	font-size: 30px;
	
}

#sidebar li li a {
	color: #000000;
}

#sidebar li li a:hover {
	color: #000000;
}

#sidebar h2 {
	height: 38px;
	letter-spacing: -.5px;
	font-size: 3em;
}

#sidebar p {
	margin: 0 0px;
	padding: 0px 20px 20px 20px;
}

#sidebar a {
	border: none;
}

#sidebar a:hover {
}

/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 50px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

/* Footer */

#footer {
	width: 920px;
	height: 80px;
	margin: 0 auto;
	padding: 0px 0 15px 310px;
	font-family: Fantasy;
}

#footer p {
	margin: 0;
	padding-top: 20px;
	line-height: normal;
	font-size: 20px;
	text-transform: uppercase;
	text-align: center;
	color: #000000;
}

#footer a {
	color: #000000;
}
/*#wrapper {
	margin: 0 auto;
	padding: 0;
}*/

/* Header */

/*#header-wrapper {
	height: 100px;
	background: #3C3230;
	border-bottom: 10px solid #4F4440;
}

#header {
	width: 950px;
	margin: 0 auto;
	padding: 0px 0px 0px 30px;
}*/

/* Search */

/*#search {
	width: 280px;
	height: 50px;
	padding: 20px 0px 0px 0px;
}

#search form {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 190px;
	padding: 0px 5px 2px 10px;
	border: none;
	background: none;
	text-transform: lowercase;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #34312C;
}

#search-submit {
	width: 70px;
	height: 22px;
	border: none;
	border: none;
	background: none;
	text-indent: -99999px;
	color: #34312C;
}*/
